.about-container {
  position: relative;
  padding: 50px;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.about-title {
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.about-content {
  max-width: 1300px;
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza os itens no container */
  gap: 40px; /* Espaçamento entre a imagem e o texto */
  margin: 0 auto; /* Centraliza o conteúdo na tela */
}

.about-image-container {
  flex: 1;
  display: flex;
  justify-content: flex-end; /* Alinha a imagem mais à direita dentro do bloco esquerdo */
}

.about-image {
  width: 360px;
  height: auto;
  opacity: 0.8; /* Ajuste de transparência */
  border-radius: 10px;
}

.about-text-container {
  width: 80%;
  flex: 1 1;
  background-color: rgba(255, 106, 0, 0.9);
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 200px;
  gap: 40px;
}

.about-text-container p {
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 90%; /* Garante que o texto não fique grudado nas bordas da caixa laranja */
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
}

/* Responsividade */
@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    text-align: center;
  }

  .about-image-container {
    justify-content: center;
  }

  .about-text-container {
    max-width: 100%;
    text-align: center;
    padding: 15px;
    padding-left: 0; /* Removendo padding extra em dispositivos móveis */
  }
}
