.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: black; /* Fundo preto fixo */
  display: flex;
  align-items: center;
  justify-content:space-around;
  padding: 10px 20px;
  transition: background 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out;
  z-index: 1000;
}

/* Efeito vidro ao rolar */
.header.scrolled {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
}

/* Estilizando o nome no header */
.header-text h1 {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

/* Ajuste da navbar */
.navbar ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

.navbar ul li {
  display: inline;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color 0.3s;
  cursor: pointer;
}

.navbar ul li a:hover {
  color: #FF6A00;;
}

/* Imagem redonda no canto direito */
.header-img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
}

