/* src/assets/css/Skills.css */
.skills-container {
  text-align: center;
  padding: 40px 20px;
  background-color: #444444;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-container h2 {
  font-size: 36px;
  color: #fff;
  margin-bottom: 20px;  
  font-weight: bold;
  text-transform: uppercase;
}

.skills-description {
  max-width: 1300px;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 colunas de tamanho igual */
  gap: 24px;
  justify-items: center; /* Alinha os itens ao centro */
}

.skill-description {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  text-align: center;
  max-width: 300px; /* Limita a largura máxima de cada card */
}

.skill-description:hover {
  transform: scale(1.05);
}

.skill-icon {
  font-size: 40px;
  margin-right: 10px;
  color: #FF6A00;
}

.skill-text {
  display: flex;
  flex-direction: column;
}

.skill-text p {
  margin: 5px 0;
  font-size: 16px;
  color: #555;
}

/* Responsividade para telas menores */
@media (max-width: 1024px) {
  .skills-description {
    grid-template-columns: repeat(3, 1fr); /* 3 colunas para telas médias */
  }
}

@media (max-width: 768px) {
  .skills-description {
    grid-template-columns: repeat(2, 1fr); /* 2 colunas para telas pequenas */
  }
}

@media (max-width: 480px) {
  .skills-description {
    grid-template-columns: 1fr; /* 1 coluna para telas muito pequenas */
  }
}
